# Sequence Data Types

## List

In [ ]:
#list: [,]
x = [1,2,3,4,5] #numeric all
alphabets = ['a','b','c','d'] #all char
mixed = [True,'a','Sarah',alphabets] #mixed data types

In [ ]:
print(mixed)

[True, 'a', 'Sarah', ['a', 'b', 'c', 'd']]

### Slicing and subsetting

In [ ]:
#i want 'b' from alphabets
alphabets[1]

'b'

In [ ]:
#I want a list from 5 to 1 using x
print(x)
print(x[::-1])

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

### List Methods

In [ ]:
y = x[::-1]
print(y) #to re-order:
y.reverse() #in-place function

[5, 4, 3, 2, 1]

In [ ]:
print(y)

[1, 2, 3, 4, 5]

In [ ]:
print(x)
print(y)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
y.reverse() #assignment

In [ ]:
print(y)

[5, 4, 3, 2, 1]

In [ ]:
print(y)

[5, 4, 3, 2, 1]

In [ ]:
sorted(y) #no in-place

[1, 2, 3, 4, 5]

In [ ]:
print(y)

[5, 4, 3, 2, 1]

In [ ]:
#replacement of y in program memory
y = sorted(y) #manually assign

In [ ]:
print(y)

[1, 2, 3, 4, 5]

In [ ]:
y.reverse()
print(y)

[5, 4, 3, 2, 1]

In [ ]:
y.sort() #in place

In [ ]:
print(y)

[1, 2, 3, 4, 5]

In [ ]:
#to concatenate: +
print(x+alphabets)
print(alphabets+x)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 1, 2, 3, 4, 5]

### Updating lists

In [ ]:
# I want to change 5 to 500
print(x)
x[4] = 500

[1, 2, 3, 4, 5]

In [ ]:
print(x)

[1, 2, 3, 4, 500]

In [ ]:
#change 500 to 5000
x[-1] = 5000

In [ ]:
print(x)

[1, 2, 3, 4, 5000]

In [ ]:
x[-1] = 5
print(x)

[1, 2, 3, 4, 5]

In [ ]:
#antoerh way
print(x[4]*100)
print(x)

500
[1, 2, 3, 4, 5]

In [ ]:
print(x)
x[4] = x[4]*100
print(x)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 500]

In [ ]:
#add another element:
#add 600 to x
#one element: append
print(x)
x.append(600)
print(x)

[1, 2, 3, 4, 500]
[1, 2, 3, 4, 500, 600]

In [ ]:
#add 5 before 500
#insert!
print(x)
x.insert(5,4) #adding the value 5 in the 4th index
print(x)

[1, 2, 3, 4, 500, 600]
[1, 2, 3, 4, 500, 4, 600]

In [ ]:
x=[1, 2, 3, 4, 500, 600]
x.insert(4,5) #adding the value 5 in the 4th index

In [ ]:
print(x)

[1, 2, 3, 4, 5, 500, 600]

In [ ]:
#to remove items; del; remove (in-place); pop (in-place)
#to remove 600
x.remove(600) #removing by value

In [ ]:
print(x)

[1, 2, 3, 4, 5, 500]

In [ ]:
x.pop(1) #removing by index
print(x)

[1, 3, 4, 5, 500]

In [ ]:
#to remove the 4
#remve by index: same same
del x[2] #different syntax

In [ ]:
print(x)

[1, 3, 5, 500]

## Range

In [ ]:
y = range(10)

In [ ]:
print(y)

range(0, 10)

In [ ]:
print(range(2,15,2)) #2: step operator

range(2, 15, 2)

## Sets

In [ ]:
L = ['a',2,'b','a',3]
print(L)
print(set(L)) #unique

['a', 2, 'b', 'a', 3]
{'b', 2, 3, 'a'}

## Tuples

In [ ]:
#immutable list
T  = tuple(L)

In [ ]:
T.append('c') #can not update

AttributeError: ignored

In [ ]:
L.append('c') #lists are mutable

In [ ]:
print(L)

['a', 2, 'b', 'a', 3, 'c']

## Dictionaries

In [ ]:
info = {} #empty
info = dict() #empty

In [ ]:
info = {"name":"Sarah","age":"25","address":"11 Colombia Rd"}

In [ ]:
print(info)

{'name': 'Sarah', 'age': '25', 'address': '11 Colombia Rd'}

In [ ]:
print(info.keys())
print(info.values())
print(info.items())

dict_keys(['name', 'age', 'address'])
dict_values(['Sarah', '25', '11 Colombia Rd'])
dict_items([('name', 'Sarah'), ('age', '25'), ('address', '11 Colombia Rd')])

In [ ]:
#mutable
info['name']

'Sarah'

In [ ]:
info['name']='Mohamad'

In [ ]:
print(info)

{'name': 'Mohamad', 'age': '25', 'address': '11 Colombia Rd'}

In [ ]:
info['age'] = 23
print(info)

{'name': 'Mohamad', 'age': 23, 'address': '11 Colombia Rd'}

In [ ]:
#delete the item age: 23
#hint pop
del[info["age"]] #del info['age']

In [ ]:
print(info) #or

{'name': 'Mohamad', 'address': '11 Colombia Rd'}

In [ ]:
print(info)
info.pop('address')
print(info)

{'name': 'Mohamad', 'address': '11 Colombia Rd'}
{'name': 'Mohamad'}

In [ ]:
### redfining
info = {"name":"Sarah","age":"25","address":"11 Colombia Rd"}
print(info)
info.pop('address')
print(info)

{'name': 'Sarah', 'age': '25', 'address': '11 Colombia Rd'}
{'name': 'Sarah', 'age': '25'}

In [ ]:
print(info)

{'name': 'Sarah', 'age': '25', 'address': '11 Colombia Rd'}

In [ ]:
print(info[1])

KeyError: ignored

In [ ]:
#to add a new item
info['Weight'] = '50 kg'

In [ ]:
print(info)

{'name': 'Sarah', 'age': '25', 'Weight': '50 kg'}

# Possible Errors

In [ ]:
#indexing does not work with dic
print(info)
print(info[1]) #it has to be a key

{'name': 'Sarah', 'age': '25'}

KeyError: ignored

In [ ]:
print(x)
print(3*x)
print(x*x) #has to be with int or bother bumbres

[1, 3, 5, 500]
[1, 3, 5, 500, 1, 3, 5, 500, 1, 3, 5, 500]

TypeError: ignored

In [ ]:
print(x/2) #list do not accept division

TypeError: ignored

In [ ]:
print(info)

{'name': 'Sarah', 'age': '25'}

In [ ]:
print(info['address'])

KeyError: ignored

In [ ]:
#diff between strings and lists. Strings are non mutable
print(x) #list
print('Sarah') #string

[1, 3, 5, 500]
Sarah

In [ ]:
x[2] = 100
print(x)

[1, 3, 100, 500]

In [ ]:
print('Sarah'[2])
name = 'Sarah'
name[2] = 'g'

r

TypeError: ignored

# Lists and numbered lists
- item 1
- item 2
- item 3



*   List item 1
*   List item 2

1. item 1
1. item 2
1. item 3

# A bit of formatting
- _italic_
* *italic*

If doubled:
1. __bold__
2. **bold**

print(x)

```
print(x)
```